.cuberto{
  position: absolute;
  z-index: 99999;
  will-change: transform;
  top: -10%;
  left: -10%;
  pointer-events: none;
  user-select: none;
  transform-origin: center;  
  border-radius: 50%;
}

.radial{
  opacity: .7;
  filter: blur(25px);
  border-radius: 50%;
}

.cuberto_text{
  position: absolute;
  top: -10%;
  left: -10%;
}

.images{
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
