.cuberto{
  position: absolute;
  z-index: 99999;
  will-change: transform;
  top: -10%;
  left: -10%;
  pointer-events: none;
  user-select: none;
  transform-origin: center;  
  border-radius: 50%;
}

.radial{
  opacity: .5;
  filter: blur(5rem);
  border-radius: 100rem;
  inset: 0% auto auto 0%;
}

.cuberto_text{
  position: absolute;
  top: -10%;
  left: -10%;
}
