.cuberto{
  position: absolute;
  z-index: 99999;
  will-change: transform;
  top: -10%;
  left: -10%;
  pointer-events: none;
  user-select: none;
  transform-origin: center;  
  border-radius: 50%;
}

.radial{
  opacity: .7;
  filter: blur(25px);
  border-radius: 50%;
}

.cuberto_text{
  position: absolute;
  top: -10%;
  left: -10%;
}

.images{
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.threeslider{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%,0) rotateX(0deg) rotateY(-25deg) rotateZ(-120deg);
  transform-style: preserve-3d;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  user-select: none;
}

.card{
  position: relative;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(130deg);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 11px;
  overflow: hidden;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
